body {
    margin: 0;
    padding: 0;
box-sizing: border-box;}
.container{
    position: relative;
}
.navbar{
  background-color: #282c34;
  min-height: 10vh;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
    display: inline;
}

.col {
    display: inline;
}
.info-display {
    float: left;
    border: 1px solid #282c34;
    overflow: auto;
    min-height: 40vh;
    width: 20vw;
    
}
.array-container{
    display: inline-block;
    width: 75vw;
    border: 1px solid black;
}
.array-bar{
    width: 0.69%;
    margin-right: 0.29% ;
    display: inline-block;

}

.footer{
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282c34;
    color: white;
    min-height: 10vh;

}
.footer a:hover {

    color: rgb(207, 8, 8);
}